
@model List<sistemadebancodepalavras.Models.Palavra>

@{ //Layou = "_la
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Contato";
}


<form method="post" action="/contato/recebercontato">
    <div class="mb-4">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" value="@ViewBag.Contato.Nome" class="form-control" id="nome" placeholder="Digite um nome">
        @Html.ValidationMessage("name")
    </div>
    <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="text" name="email" value="@ViewBag.Contato.Email" class="form-control" id="email" placeholder="Digite seu Email">

        @Html.ValidationMessage("email")
    </div>
    <div class="mb-4">
        <label for="assunto" class="form-label">Assunto</label>
        <input type="text" name="assunto" value="@ViewBag.Contato.Assunto" class="form-control" id="assunto" placeholder="Digite um assunto">
        @Html.ValidationMessage("assunto")
    </div>
    <div class="mb-4">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea name="mensagem" class="form-control" value="@ViewBag.Contato.Mensagem" id="mensagem" placeholder="Digite uma mensagem"></textarea>
        @Html.ValidationMessage("mensagem")

    </div>



    <button type="submit" class="btn btn-dark">Enviar</button>
</form>
@ViewBag.Mensagem
