@model sistemadebancodepalavras.Models.Palavra

@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "Palavra - Cadastrar";
}

<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="mb-4">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" name="nome" value="@Model.Nome" class="form-control" id="nome" placeholder="Digite um nome">
        @Html.ValidationMessage("name")
    </div>
    <div class="mb-4">
        <label for="nivel" class="form-label">Nivel</label>
        <input type="text" name="nivel" value="@Model.Nivel" class="form-control" id="nivel" placeholder="Digite o Nivel  1 - Facil, 2 - media, 3 - Dificil">

        @Html.ValidationMessage("nivel")
    </div>



    <button type="submit" class="btn btn-dark">Salvar</button>
</form>
@ViewBag.Mensagem
